@page
<div class="row">
    <div class="col-md-3" v-for="application in page.applications.applicationArray">
        <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{application.title}}</h5>
                <p>
                    Errors:
                    <ul>
                        <li v-for="error in application.errors">{{error}}</li>
                    </ul>
                </p>
                <p>
                    Metrics:
                    <ul>
                        <li v-for="metric in application.metrics">{{metric}}</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/js/notify/notify.min.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/lib/vue/vue.min.js"></script>
    <script src="~/js/telemetryModel.js"></script>
    <script src="~/js/telemetryPage.js"></script>
}